/* GOOGLE FONTS */
/* Lora Font */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,100..900;1,100..900&display=swap");





/* ----- GENERELLE STYLES ----- */
/* ----- FARVER OG FONT SÆT ----- */
:root {
    /* FARVER SÆT */
    --primary: #f9f9f9;
	--transparent: #ffffffe6;
	--secondary: #050f33;
	--secondary-light: #353e5e;
	--accent: #decda1;
	--accent-dark: #857b61;

	/* FONT SÆT */
	--lora: "Lora", serif;
}

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display:none;
}

.main {
    padding: 0;
}

#main_hero {
    margin-bottom: 2rem;
    position: relative;
}

#main_hero article {
    width: 100%;
    height: 500px;
    background-size: cover;
   background-position: center;
}

#main_hero article h1 {
    position: absolute;
    width: 100%;
    top: 48%;
    left: 72%;
    transform: translate(-50%, -50%);
    color: var(--primary);
    font-size: 2rem;
    cursor: pointer;
    text-decoration: underline 1.5px var(--primary);
    text-underline-position: under;
}

.main_hero_img1 {
   background-image: url("../assets/index-billeder/banner1.webp"); 
}

.main_hero_img2 {
   background-image: url("../assets/index-billeder/banner2.webp"); 
   display: none;
}

.main_hero_img3 {
   background-image: url("../assets/index-billeder/banner3.webp"); 
   display: none;
}

#main_primary_area {
    padding: 2rem;
}

#intro {
    text-align: center;
    margin-bottom: 4rem ;
}

#intro p {
    width: 410px;
    margin: auto;
}

#intro p:last-child {
    margin-top: 1.2rem;
}

#index_line {
    display: block;
    width: 200px;
    height: 2px;
    background-color: var(--accent);
    margin: auto;
    margin-bottom: 1rem;
}

#eget_design {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 6rem;
    overflow: hidden;
}

.ED_img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.ED_tekst {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.5rem;
}

.ED_tekst button {
    width: fit-content;
    padding: 1.4rem;
    background-color: var(--accent);
    border: none;
    font-weight: normal;
}

.ED_tekst button:hover {
    background-color: #c2b38c;
    transition: 0.3s;
}

/* scroll to copy */
.ED_scroll {
    position: relative;
    width: 100%;
    margin: auto;
}

.ED_scroll_container {
    width: 250px;
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    scroll-snap-type: x mandatory;
  white-space: nowrap; 
  margin: auto;
}

.ED_scroll_item{
    width: 250px;
    flex-shrink: 0;
  scroll-snap-align: start;
  overflow: hidden;
}

.ED_scroll_item img{
    max-width: 100%;
    object-fit: cover;
}

.ED_scroll .leftarrow {
   position: absolute;
   top: 50%;
   left: 0.7rem;
   transform: translate(0, -50%);
}

.ED_scroll .rightarrow{
   position: absolute;
   top: 43.5%;
   right: 0.7rem;
   transform: translate(0, -50%);
   transform: scale(-1, -1);
}

/* no more scroll to copy */

#category_section {
    text-align: center;
    margin-bottom: 6rem;
}

.category_section_scroll {
    position: relative;
    width: 100%;
    height: 500px;
    margin: auto;
}

.category_scroll_container {
    width: 250px;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  white-space: nowrap; 
  margin: auto;
}

.category_scroll_item{
    position: relative;
    width: 250px;
    height: 100%;
    flex-shrink: 0;
  scroll-snap-align: start;
  overflow: hidden;
  background-color: black;
}

.category_scroll_item img{
    max-width: 100%;
    object-fit: cover;
    opacity: 80%;
}

.category_scroll_item h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary);
    font-size: 2rem;
    pointer-events: none;
}

.category_section_scroll .leftarrow {
   position: absolute;
   top: 50%;
   left: 0.7rem;
   transform: translate(0, -50%);
}

.category_section_scroll .rightarrow{
   position: absolute;
   top: 45.5%;
   right: 0.7rem;
   transform: translate(0, -50%);
   transform: scale(-1, -1);
}


#new_section {
    text-align: center;
    margin-bottom: 4rem;
}

.new_section_scroll {
    position: relative;
    width: 100%;
    margin: auto;
}

.new_section_scroll_container {
    width: 250px;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  white-space: nowrap; 
  margin: auto;
}

.new_section_scroll_item{
    width: 250px;
    flex-shrink: 0;
  scroll-snap-align: start;
  overflow: hidden;
}

.new_section_scroll_item img{
    max-width: 100%;
    object-fit: cover;
}

.new_section_scroll .leftarrow {
   position: absolute;
   top: 50%;
   left: 0.7rem;
   transform: translate(0, -50%);
}

.new_section_scroll .rightarrow{
   position: absolute;
   top: 43.5%;
   right: 0.7rem;
   transform: translate(0, -50%);
   transform: scale(-1, -1);
}


#outlet {
    display: block;
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
   background-position: center;
   background-image: url("../assets/index-billeder/outletimg.webp");
   margin-bottom: 4rem;
}

#outlet p {
    display: none;
}

#outlet div {
    position: absolute;
    text-align: center;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary);
    font-size: 2rem;
}

#outlet div button {
    width: fit-content;
    padding: 1.4rem;
    background-color: var(--primary);
    border: none;
    font-weight: normal;
     cursor: pointer;
}

#outlet div button:hover {
    background-color: rgb(223, 223, 223);
    transition: 0.3s;
}

#about {
    margin-bottom: 2rem;
}

#about h2 {
    text-align: center;
}

#about img {
    max-width: 100%;
    margin-bottom: 1rem;
}

@media (width >768px) {

    
    #main_hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#main_primary_area {
    padding: 4rem;
}

.main_hero_img2, .main_hero_img3 {
    display: block;
}

#main_hero article h1 {
    left: 50%;
 text-align: center;
}

#intro p {
    width: 500px;
}

#eget_design {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 360px ;
    margin: auto;
    margin-bottom: 2rem;
}

.ED_img {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-right: 0;
}

.ED_tekst {
    grid-column: 1/2;
    grid-row: 1/2;
}

.ED_scroll {
    grid-column: 1/span 2;
    grid-row: 2/3;
    margin-top: 2rem;
}

.ED_scroll_container {
    width: 80%;
   max-height: 100%;
}

.category_section_scroll {
    height: 600px;
}

.category_scroll_container {
    width: 80%;
   max-height: 100%;
   gap: 4rem;
}

.category_scroll_item {
    width: 400px;
}

.category_scroll_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new_section_scroll_container {
    width: 80%;
   max-height: 100%;
}

#outlet {
    height: 600px;
}

#outlet p {
    display: block;
}

#outlet div {
    position: absolute;
    width: 500px;
    top: 62%;
    left: 3rem;
    transform: translate(0, 0);
    text-align: left;
}

.about_grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about_grid_container img {
    width: 400px;
    margin: auto;
    margin-top: 1.4rem;
    margin-right: 2rem;
}

.about_text {
    width: 400px;
    margin: auto;
    margin-left: 2rem;
}

}