/* GOOGLE FONTS */
/* Lora Font */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,100..900;1,100..900&display=swap");





/* ----- GENERELLE STYLES ----- */
/* ----- FARVER OG FONT SÆT ----- */
:root {
    /* FARVER SÆT */
    --primary: #f9f9f9;
	--transparent: #ffffffe6;
	--secondary: #050f33;
	--secondary-light: #353e5e;
	--accent: #decda1;
	--accent-dark: #857b61;

	/* FONT SÆT */
	--lora: "Lora", serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
}

#list_main {
    padding: 0;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

/* pil ved mig  */
#category_container {
    margin-bottom: 3rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  white-space: nowrap; 
  user-select: none;
}

.category_wrapper {
    position: relative;
}
.category_wrapper .leftarrow {
   position: absolute;
   bottom: 0;
   left: 0.7rem;
   transform: translate(0, -50%);
   opacity: 30%;
}

.category_wrapper .rightarrow{
   position: absolute;
   bottom: 1.3rem;
   right: 0.7rem;
   transform: translate(0, -50%);
   transform: scale(-1, -1);
   opacity: 30%;
}

/* pil ved mig  */
#category_container aside {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 500px;
    background-color: black;
    overflow: hidden;
    cursor: pointer;
    scroll-snap-align: center;
}

/* #bracelet {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../assets/productlist-billeder/ur-kompresset.webp");
    background-size: cover;
    background-position: center;
} */

/* pil ved mig  */
#category_container aside img {
    position: relative;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 80%;
}

#category_container aside img:hover {
    transform: scale(1.1);
    opacity: 70%;
    transition: 0.3s;
}

#product_card a img:hover {
    transform: scale(1.08);
    transition: 0.3s;
}

/* pil ved mig  */
#category_container aside h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary);
    font-size: 2rem;
    pointer-events: none;
}

#product_list_header {
    color: var(--secondary);
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1.2rem;
    margin-bottom: 4rem;
}

#product_list_header article {
    margin: auto;
    margin-top: 2rem;
    width: 80%;
}

#product_list_header span {
    display: block;
    width: 200px;
    height: 2px;
    background-color: var(--accent);
    margin: auto;
}

#product_list_container {
    margin-bottom: 2rem;
}


#filter_knap {
    background-color: var(--accent);
    border: none;
    padding: 1.5em 2em;
    margin-left: 2rem;
    letter-spacing: 0.7px;
}

#filter_container {
    position: fixed;
    left: 0;
    top: 10%;
    width: 80%;
    height: 100%;
    margin: auto;
    margin-bottom: 2rem;
    background-color: var(--primary);
    padding: 20px;
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.289);
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2rem;; */
}

.filter_menu_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0.2em 0 0;
    top: 0;
}

/* LUK KNAP FOR FILTER SIDEMENU  */

#filter_toggle_container {
    position: relative;
    height: 20px;
    top: 0.8rem;
    cursor: pointer;
}

#filter_toggle_container span {
    display: block;
	width: 1.6em;
	height: 0.12em;
	background-color: var(--secondary);
	margin: 0.2em 0;
}

#filter_toggle_container span:nth-child(1) {
	transform: rotate(45deg) translate(2px, 2px);
	background-color: var(--secondary);
}

#filter_toggle_container span:nth-child(2) {
	transform: rotate(-45deg) translate(2px, -2px);
	background-color: var(--secondary);
}

/* LUK KNAP FOR FILTER SIDEMENU  */

#filter_container aside label {
    font-family: var(--open);
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.2px;
}

#filter_aside_container {
display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2rem;;
    margin-top: 2rem;
}

#filter_aside_container aside div {
    margin-top: 1rem;
}

/* skift til at passe mobil  */
#filter_container aside div {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: left;
}

#filter_container aside div span {
    color: var(--accent);
    font-weight: bold;
    font-size: 1.8rem;
}
/* skift til at passe mobil  */

#product_list {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 4rem;
        justify-content: center;
        border-left: 2px solid rgb(229, 227, 227);
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

select {
    appearance: none;
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    outline: none;
    line-height: 1rem;
    font-family: var(--lora);
    font-size: 1.2rem;
    width: 80%;
    cursor: pointer;
}

#filter_container aside div {
    width: 44%;
    border-bottom: 1px solid var(--secondary);
}

#filter_container aside div span {
    padding-bottom: 2px;
}

#product_card {
    max-width: 250px;
    margin: auto;
    overflow: hidden;
}

#product_card p, #product_card h2 {
color: var(--secondary);
text-align: center;
}

#product_card h2 {
font-size: 1.2rem;
}


.rating {
    color: var(--accent);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: normal;
}

.cuisine {
    color: var(--secondary);
    font-size: 1.2rem;
    font-weight: normal;
    }

#product_card img {
    max-width: 100%;
    margin-bottom: 1rem;
}


.hidemenu {
    display: none;
}

.showmenu {
    display: block;
}

/* DESKTOP */
@media (width >768px) {

.hidemenu {
    display: block;
}

::-webkit-scrollbar {
    display: none;
}

#category_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 600px;
    margin-bottom: 3rem;
}

.filter_h1 {
    display: block;
    font-weight: bold;
    font-size: 2rem;
}

#category_container aside {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}


#category_container aside img {
    max-width: 100%;
    height: 670px;
    object-fit: cover;
    top: 0;
}
    #product_list_container {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 1rem;
        padding: 4rem;
    }

.category_wrapper .leftarrow, .rightarrow {
  display: none;
}

#filter_knap {
    display: none;
}

#filter_container {
    position: sticky;
    height: auto;
    grid-column: 1/2;
    flex-direction: column;
    justify-content: left;
    top: 0;
    margin-top: 0;
    padding-top: 2rem;
    margin-bottom: auto;
    max-width: 100%;
    box-shadow: none;
}

#filter_toggle_container {
    display: none;
}

#filter_container aside div {
    display: flex;
    column-gap: 5px;
    justify-content: left;
    margin-top: 1rem;
}

#filter_container aside div {
    width: 100%;
    border-bottom: 1px solid var(--secondary);
}

#filter_container aside div span {
    color: var(--accent);
    font-size: 1.8rem;
}
#product_list {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px); 
    }

    #product_card, #product_card a {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 0.5rem;
    margin: 0;
    margin-bottom: 2rem;
    }


    .rating {
        margin: 0;
    }

}